<div class="row">
  <div class="col-sm-4 offset-sm-1">
    <h3>Men's Locker Room</h3>
    <app-schedule-entry
      class="indented"
      [time]="'9:00 - 9:15'"
    ></app-schedule-entry>
    <app-schedule-entry
      class="indented"
      [time]="'9:15 - 9:30'"
    ></app-schedule-entry>
    <app-schedule-entry
      class="indented"
      [time]="'9:30 - 9:45'"
    ></app-schedule-entry>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h3>Women's Locker Room</h3>
    <app-schedule-entry
      class="indented"
      [time]="'9:00 - 9:15'"
    ></app-schedule-entry>
    <app-schedule-entry
      class="indented"
      [time]="'9:15 - 9:30'"
    ></app-schedule-entry>
    <app-schedule-entry
      class="indented"
      [time]="'9:30 - 9:45'"
    ></app-schedule-entry>
  </div>
</div>
